.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.card {
  min-height: 40%;
min-width: 20%;
margin: auto;
  background-color: rgb(216, 209, 209);
  display: grid;
  grid-template-rows: 1fr 3fr;
  border-radius: 0px 100px;
  box-shadow: -9px 9px 16px 0px rgba(0,0,0,0.72);
-webkit-box-shadow: -9px 9px 16px 0px rgba(0,0,0,0.72);
-moz-box-shadow: -9px 9px 16px 0px rgba(0,0,0,0.72);
}




.view {
  display: flex;
  align-items: center;
  justify-content: center;
}



.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.btn {
    border-radius: 20px 0px;
    cursor: pointer;
  font-size: 20px;
  width: 50%;

}

.btn:nth-child(1) {
  color: #39f;
  border: 1px transparent solid;
}

.btn:nth-child(1):hover {
  color: black;
  background-color: #39f;
  border: 1px black solid;
}

.btn:nth-child(2) {
  color: blueviolet;
  border: 1px transparent solid;
}

.btn:nth-child(2):hover {
  color: black;
  background-color: blueviolet;
  border: 1px black solid;
}

.btn:nth-child(3) {
  color: red;
  border: 1px transparent solid;
}

.btn:nth-child(3):hover {
  color: black;
  background-color: red;
  border: 1px black solid;
}


.input {
  width: 70%  ;

  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 0px 0px 0px 50px;
  align-self: flex-end;
}


.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input[type=number] { -moz-appearance:textfield; }